<div class="page-container">
  <h1><%= @user.name %>'s Profile</h1>
  <div class="display-flex">
    <div class="user-photo-container">
      <img class="user-photo" src=<%= @user.photo %> />
      </div>
        <div class="user-text-details-container">
          <h2>
            <%= @user.name %>
          </h2>
          <p>Number of posts: <%= @total_posts %></p>
      </div>
    </div>
<ul>
  <li class="padding-20-px background-color-aliceblue">
    <h3>Bio:</h3>
    <p> <%= @user.bio %></p>
  </li>
</ul>

<ul class="padding-20-px">
  <h3>Most recent posts:</h3>
  <% @recent_posts.each do |post| %>
    <li class="padding-20-px display-flex flex-direction-column background-color-aliceblue">
      <h4><%= post.title %></h4>
      <p><%= post.text %></p>
      <p> <%= post.created_at %></p>
      <p class="align-self-end">
        <span>Comments:</span>
        <span><%= @comments.where(post_id: post.id).count %></span>
        <span>Likes: </span>
        <span><%= @likes.where(post_id: post.id).count %></span>
      </p>
    </li>
  <% end %>
</ul>
  <div class="text-align-center">
     <%= button_to "See all posts", "#{root_path}users/#{@user.id}/posts", :method => "get", class: 'see-all-posts-button' %>
    
  </div>
</div>
