<div class="page-container">
  <div class="display-flex justify-content-space-between align-items-center">
    <div>
      <h2><%= @post.title %> By: <%= @user.name %></h2>
    </div>
    <div>
      <p>
        <span>Comments: <%= @comments.where(post_id: @post.id).count %>, Likes: <%= @likes.where(post_id: @post.id).count %></span>
      </p>
    </div>
  </div>
  <div>
    <p class="paragraph-text"><%= @post.text %></p>
  </div>
  <div class="background-color-aliceblue padding-20-px">
  <h4>Comments:</h4>
  <% @comments.each do |comment| %>
    <% if comment.post_id == @post.id %>
      <p>
        -<% @users.each do |user| %>
          <%= user.name if user.id == comment.author_id %>
        <% end %>
        :<%= comment.text %></p>
    <% end %>
  <% end %>
  </div>
</div>
